*{
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #ddd6f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  
    background: linear-gradient(to right, #faaca8, #ddd6f3); 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:min-content;

}
.container{
    overflow: hidden;
    background-color: aliceblue;
    margin-top: 80px;
    max-width: 800px;
}

img{
    max-width: 100%;
    max-height: 300px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header input{
    background-color: #eee;
    border: solid #ddd6f3 2px;
    border-radius: 5px 5px;
    height: 30px;
    width: 80%;
}

header button{
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.fav-container{
    /* padding: 15px; */
    /* display: flex; */
    text-align: center;
}

.fav-container h3{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.fav-meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.fav-meals li{
    position: relative;
    cursor: pointer;
    margin: 5px;
    width: 180px;
}

.fav-meals li .clear{
    position: absolute;
    top: 0;
    border: none;
    padding-left: 10px;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
    font-size: 18px;
}

.fav-meals li:hover .clear{
    opacity: 1;
}

.fav-meals li img{
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    /* padding-left: 10px; */
    justify-content: center;
}

.fav-meals li span{
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.meal{
    /* margin: 20px; */
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.random{
    position: absolute;
    top: 20px;
    background-color: #ffffff;
    padding: 5px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 25px;
}

.meal-header img{
    object-fit: cover;
    width: 100%;
}

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.meal-body .fav-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(197, 188, 188);
    cursor: pointer;
}

.meal-body .fav-btn.active{
    background-color: #7a2ce0;
}

.popup-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.popup-container.hidden{
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.popup{
    background-color: white;
    max-width: 900px;
    width: 50%;
    max-height: 700px;
    /* dodavanje skrolera */
    overflow: auto;  
    position: relative;
    
}

.popup .close-popup{
    font-size: 25px;
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer; 
}

.meal-info h1{
    text-align: center;
}

.meal-info img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

